@font-face /*perintah untuk memanggil font eksternal*/ {
  font-family: "Metropolis";
  src: url("font/Metropolis/Metropolis-Regular.otf"); /*memanggil file font eksternalnya di folder nexa*/
}

nav {
  background-color: white;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

body {
  font-family: "Metropolis";
}

.myBar {
  position: relative;
}

.searchAndSort {
  position: absolute;
  left: 89px;
}

.form-control {
  width: 300px;
  height: 35px;
  border-radius: 50px;
  margin-left: 50px;
}

.btn {
  border: 1px solid grey;
}

.btn-cart {
  border: none;
  text-align: center;
}

.btnLogin,
.btnSignIn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: #db3022;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.btnSignIn {
  color: #db3022;
  background-color: white;
  border: 1px solid #9b9b9b;
}

/* style for main element */

.color {
  background-color: red;
  /* width: ; */
}

.color-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.black {
  background-color: #1a1a1a;
  color: #1a1a1a;
}

.black p {
  display: inline;
}

.red {
  background-color: #db3022;
  color: #db3022;
}

.blue {
  background-color: #4290d8;
  color: #4290d8;
}

.green {
  background-color: #42d86c;
  color: #42d86c;
}

.grey {
  background-color: #d4d4d4;
}

.white {
  background-color: white;
  border: 1px solid grey;
}

.chatBtn {
  width: 130px;
  background-color: #e5e5e5;
  border: 1px solid;
}

.buyBtn {
  width: 300px;
  background-color: #db3022;
  color: white;
  border: none;
}

.title {
  font-size: 80px;
  font-weight: 500;
}
.qty {
  font-size: 20px;
}

.barStar {
  margin-top: -30px;
}

#satu {
  margin-top: ;
}

.grad p {
  display: inline;
  font-size: 14px;
  /* margin-top: -10px; */
}

.line {
  background-color: #db3022;
  width: 120px;
  height: 5px;
  border-radius: 2px;
}

.pr {
  border-bottom: 1px solid;
}

@media screen and (max-width: 430px) {
  .form-control {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .searchAndSort {
    left: 0px;
  }
  .form-control {
    margin-left: 0px;
  }
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .form-control {
    width: 500px;
    height: 45px;
    border-radius: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
    /* display: non; */
  }
}
